@keyframes rain {
  from {background-color: inherit}
  to { background-color: red}
}

@keyframes rr {
  from {background-color: inherit}
  to {background-color: blue}
}

.nav-link:hover {
  animation: rain 0.6s linear;
  background-color: red;
}



.nav-link {
  border-radius: 10px;
  color: white !important;
}

.navbar-brand:hover {
  animation: rr 0.6s linear;
  background-color: blue;
}

.navbar-brand {
  border-radius: 10px;
  color: white !important;  
}
.navbar {
  background-color: rgb(33, 37, 41, 1);
  background: linear-gradient(180deg, rgba(33,37,41,1) 72%, black 100%);
}

#navbarNav {
  justify-content: center;
}

html {
  background: url(../src/lungbg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1, h3, button {
  position: relative;
  background: none;
  display:inline;
  color: white;
}

.active {
  color: orange !important;
}

.active:hover {
  color: black !important;
}

button {
  background-color: blue;
  border: 0;
  padding: 1rem;
  margin-left: 40vw;
  margin-right: 40vw;
  width: 20vw;
  margin-top: 3vh;
  border-radius: 0.5rem;
  text-align: center;
  line-height: 1.5rem;
  font-size: 0.875rem;
  font-weight: 700;
  justify-self: center;
  font-family: 'Fira Code', Arial, Helvetica, sans-serif;
}

button:hover {
  background-color: rgb(56 189 248);
}

h3 {
  margin-top: 2vh;
}

.else {
  width: 100vw;
  margin-top: 56px;
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-content: space-evenly;
  flex-wrap: wrap;
  text-align: center;
}